<div class="form-group">
    <label>Shift Type</label>
    <select id="shifter_input" class="form-control input-lg" onchange="change_shifter();">
        {% if g.status.get('program')|int != config.get('PROGRAM')['Mode']|int %}
            <option value="none" class="form-control input-lg" selected disabled>- Shift Selector -</option>
        {% endif %}
        {% for id, shifter in config.get('SHIFTER').items() %}
            {% if g.status.get('program') == config.get('PROGRAM')['Mode'] and g.status.get('shifter') == id|int %}
                <option value="{{ id }}" class="form-control input-lg" selected>{{ shifter }}</option>
            {% else %}
                <option value="{{ id }}" class="form-control input-lg">{{ shifter }}</option>
            {% endif %}
        {% endfor %}
    </select>
    <form id="shifter_form" class="hidden">
        <input id="shifter" name="shifter"/>
    </form>
</div>